<!DOCTYPE html>
<html>
<head>
  <title>FortuneTeller</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
</head>
<body>
  <nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">Fortune Teller</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
    <li><a href="http://localhost:3000/lucky_numbers">Today's Lucky Numbers</a></li>
    <li><a href="http://localhost:3000/zodiacs/aries">Aries</a></li>
    <li><a href="http://localhost:3000/zodiacs/taurus">Taurus</a></li>
    <li><a href="http://localhost:3000/zodiacs/gemini">Gemini</a></li>
    <li><a href="http://localhost:3000/zodiacs/cancer">Cancer</a></li>
    <li><a href="http://localhost:3000/zodiacs/leo">Leo</a></li>
    <li><a href="http://localhost:3000/zodiacs/virgo">Virgo</a></li>
    <li><a href="http://localhost:3000/zodiacs/libra">Libra</a></li>
    <li><a href="http://localhost:3000/zodiacs/scorpio">Scorpio</a></li>
    <li><a href="http://localhost:3000/zodiacs/sagittarius">Sagittarius</a></li>
    <li><a href="http://localhost:3000/zodiacs/capricorn">Capricorn</a></li>
    <li><a href="http://localhost:3000/zodiacs/aquarius">Aquarius</a></li>
    <li><a href="http://localhost:3000/zodiacs/pisces">Pisces</a></li>
    </ul>
   
   </div><!-- /.navbar-collapse -->
</nav>
    <div class="container">
       <%= yield %>
  </div>
</body>
</html>
